.footer-container {

    .footer-content {
        padding: 80px 0 100px;

        .footer-item {
            .title-main {
                font-size: 25px;
                font-weight: $font-weight-bold;
                text-transform: uppercase;
                margin-bottom: 35px;
                font-family: 'Fjalla One', sans-serif;
            }
            .item-info {
                font-size: 13px;
                margin-bottom: 10px;
            }
        
            .item-support {
                @extend .item-info;
             }
        
            .list-follow {
                display: flex;
        
                .item-follow {
                    font-size: $font-size-dec;
                    color: $white-color;
                    background: $blue-color;
                    border: 1px solid $blue-color;
                    border-radius: 50%;
                    padding: 10px 15px 10px 17px;
                    margin-right: 10px;
                    cursor: pointer;
        
                    .fa {
                        width: 16px;
                        height: 16px;
                    }

                    &:hover {
                        background: #047bff;
                    }
                    
                }
            }
        
            .newsletter-content {
                position: relative;
                
        
                .input-send-email {
                    padding: 25px 20px;
                    background: $background-input;
                    border: none;
                    font-size: 13px;
                }
        
                .btn-submit {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    font-size: 14px;
                    font-weight: $font-weight-bold;
                    text-transform: uppercase;
                    padding: 8px;
                }
            }
         }
    }


    .footer-bottom {
        border-top: 1px solid $border-gray; 
        .footer-bottom-content {
            display: flex;
            justify-content: space-between;
            font-size: 13px;
            padding: 15px 0 10px;
        }
       
    }
}