body {
    font-family: 'Open Sans', sans-serif;
    color: $mainColor;
    font-size: 20px;
}

.header-container {
    .header {
        background: $backgroundNavBar;
        color: $whiteColor;
        opacity: 0.9;
        .header-top-content {
            border-bottom: 1px solid $borderGrayDark;
            .info-list {
                display: flex;
                .info-item {
                    margin-right: 50px;
                    padding: 10px 0;
                    font-size: 13px;
                    
                    span:first-child {
                        margin-right: 15px;
                    }
                }
            }
        
            .follow-list {
                display: flex;
                .follow-item {
                    margin-right: 35px;
                    padding: 10px 0;
                    font-size: 16px;
                }
        
                .search-item {
                    padding: 10px 35px;
                    border-left: 1px solid $borderGrayDark333;
                    font-size: 16px;
                }
            }
        }  
    } 
}