.menu-container {
    background: $backgroundNavBar;
    
    .navbar-menu {
        background: $backgroundNavBar;
        color: $whiteColor;
        opacity: 0.9;

        .logo-header {
            padding-left: 20px;
        }

        .nav-link {
            color: $whiteColor;
            margin-right: 60px;
            padding: 20px 0;

            &:hover {
                color: $grayColor;
                font-weight: 700;
            }
        }

        .nav-link.active {
            @extend .nav-link;
            font-weight: 700;
            border-bottom: 1px solid $whiteColor;
        }
        
        .nav-link:last-child {
            margin-right: 0;
        }
    }

}