.menu-container {
    background: $background-navbar;
    
    .navbar-menu {
        background: $background-navbar;
        color: $white-color;
        opacity: 0.9;

        .logo-header {
            padding-left: 20px;
        }

        .nav-link {
            color: $white-color;
            margin-right: 60px;
            padding: 20px 0;

            &:hover {
                color: $gray-color;
                font-weight: $font-weight-bold;
            }
        }

        .nav-link.active {
            @extend .nav-link;
            font-weight: $font-weight-bold;
            border-bottom: 1px solid $white-color;
        }
        
        .nav-link:last-child {
            margin-right: 0;
        }
    }

}