.menu-container {
    background: #151a22;
    
    .navbar-menu {
        background: #151a22;
        color: #fff;
        opacity: 0.9;

        .logo-header {
            padding-left: 20px;
        }

        .nav-link {
            color: #fff;
            margin-right: 60px;
            padding: 20px 0;

            &:hover {
                color: #c0c0c0;
                font-weight: 700;
            }
        }

        .nav-link.active {
            @extend .nav-link;
            font-weight: 700;
            border-bottom: 1px solid #fff;
        }
        
        .nav-link:last-child {
            margin-right: 0;
        }
    }

}