.news-area-container {
    .news-title-content {
        padding: 100px 0 65px;
    
        .deals-title-content {
            padding: 0 100px;
            text-align: center;
    
            .title-main-content {
                font-size: 50px;
                font-weight: 700;
                margin-bottom: 50px;
                text-transform: uppercase;
            }
        }
    }
    
    .news-content {
        .news-item {
            .box-img-news {
                img {
                    width: 100%;
                }
            }

            .box-title-news {
                padding: 35px 15px 90px;

                .title-main {
                    font-size: 18px;
                    color: #47a0ff;
                    font-family: 'Fjalla One', sans-serif;
                }

                .list-item {
                    display: flex;
                    justify-content: space-between;
                    padding: 30px 0;

                    .item {
                        font-size: 15px;
                        margin-right: 50px;
                        .icon-item {
                            font-size: 20px;
                            margin-right: 10px;
                        }
                    }
                }

                .decsription {
                    font-size: 15px;
                }
            }

            
        }
    }
}
