.banner-area-container {
    background: url('../images/header/banner-area.png') no-repeat;
    background-position: center;
    position: relative;
    margin-top: -135px;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;

    .content-top-inner {
        color: $whiteColor;
        padding: 270px 0;
        text-align: center;
        .content-top-title {
            text-transform: uppercase;
            font-size: 42px;
            font-family: 'Fjalla One', sans-serif;
        }

        .content-top-sub-title {
            font-size: 30px;
            
        }
    } 

    .search-tour-box {
        position: absolute;
        top: 175px;
        right: 0;
        z-index: 99;
        .form-search-tour {
            width: 510px;
            background: $whiteColor;
            border: 1px solid $whiteColor;
            padding: 40px 40px 60px;
            font-family: 'Fjalla One', sans-serif;

            .header-form {
                text-align: center;
                .title-form {
                    font-size: 50px;
                    color: $mainColor;
                    text-transform: uppercase;
                }

                p {
                    padding: 20px 0 30px;
                }

                .btn-block {
                    padding: 13px;
                }
            }

            .form-content {
                .input-group {
                    margin-bottom: 30px;
                    input {
                        background: $backgroundInput;
                        border: 1px solid $backgroundInput;
                        padding: 24px 15px;
                        font-weight: 300;
                    }

                    .input-group-append {
                        .input-group-text {
                            background: $backgroundInput;
                            border: 1px solid $backgroundInput;
                        }
                    }
                }
            }
        }
        
    }

    .content-bottom {
        background: $backgroundBlue;
        opacity: 0.9;

        p {
            padding: 70px 0 60px;
            color: $whiteColor;
        }
    }
}