.deals-area-container {
    background: url('../images/deals-area/deals-area.png') no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: cover;

    .deals-title {
        padding: 70px 0 50px;

        .deals-title-content {
            text-align: center;
            font-size: $font-size-title-main;
            color: $white-color;
            font-weight: $font-weight-bold;
            letter-spacing: 5px;
            text-transform: uppercase;
            animation: blur 10s ease-out infinite;
            text-shadow: 0px 0px 1px $white-color, 0px 0px 1px $white-color;
            font-family: 'Fjalla One', sans-serif;
        }
          
        @keyframes blur {
            from {
                text-shadow:0px 0px 2px $white-color,
                            0px 0px 3px $white-color, 
                            0px 0px 3px $white-color,
                            0px 0px 2px $white-color,
                            0px 0px 4px $white-color,
                            0px 0px 3px $white-color,
                            0px 0px 5px $white-color,
                            0px 3px 5px $white-color,
                            0px 1px 5px $white-color,
                            0px -5px 6px $white-color,
                            0px -3px 7px $white-color;
            }
        }
    }

    .deals-content {
        padding-bottom: 60px;

        .deals-item {
            
            .box-img-deal {
                position: relative;
                background: $white-color;
                transition: 0.5s;
                cursor: pointer;

                .images-item {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    img {
                        width: calc(100% + 60px);
                        opacity: .9;
                        transition: opacity 0.75s, transform 0.75s;
                        transform: translate3d(-50px,0,0)
                    }

                    &:hover {
    
                        img {
                            transform: translate3d(0,0,0);
                            transition: 0.5s;
                            opacity: 0.6;
                        }
                    }
                }
                
                .box-price {
                    background: $blue-color;
                    color: $white-color;
                    font-weight: $font-weight-bold;
                    text-align: center;
                    padding: 15px 20px;
                    position: absolute;
                    left: 50%;
                    -webkit-transform: translate(-50%,-50%);
                    -ms-transform: translate(-50%,-50%);
                    font-family: 'Fjalla One', sans-serif;
                    
                    .listed-price {
                        text-decoration: line-through;
                        margin-right: 20px;
                        font-size: $font-size-body;
                    }
    
                    .deal-price {
                        font-size: 25px;
                    }
                }
            }
                
            .box-title-deal {
                text-align: center;
                padding: 40px 15px 25px;
                background: $white-color;

                .title-main {
                    font-size: $font-size-title-main;
                    font-weight: $font-weight-bold;
                    text-transform: uppercase;
                    font-family: 'Fjalla One', sans-serif;
                }

                .decsription {
                    padding: 15px 0 30px;
                }
    
                .btn-book-now {
                    padding: 20px 50px;
                    text-transform: uppercase;
                    font-weight: $font-weight-bold;
                }
            }
        }
    }
}