.deals-area-container {
    background: url('../images/deals-area/deals-area.png') no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: cover;

    .deals-title {
        padding: 70px 0 50px;

        .deals-title-content {
            font-size: 50px;
            color: $whiteColor;
            text-align: center;
            text-transform: uppercase;
            font-family: 'Fjalla One', sans-serif;
        }
    }

    .deals-content {
        padding-bottom: 60px;

        .deals-item {
            
            .box-img-deal {
                position: relative;
                background: $whiteColor;
                transition: 0.5s;

                img {
                    width: 100%;
                    opacity: 0.95;
                    -webkit-transition: -webkit-transform 0.35s;
                    transition: transform 0.35s;
                    -webkit-transform-origin: 50% 50%;
                    transform-origin: 50% 50%;
                }
                
                .box-price {
                    background: $blueColor;
                    color: $whiteColor;
                    font-weight: 700;
                    text-align: center;
                    padding: 15px 20px;
                    position: absolute;
                    left: 50%;
                    -webkit-transform: translate(-50%,-50%);
                    -ms-transform: translate(-50%,-50%);
                    font-family: 'Fjalla One', sans-serif;
                    
                    .listed-price {
                        text-decoration: line-through;
                        margin-right: 20px;
                        font-size: 20px;
                    }
    
                    .deal-price {
                        font-size: 25px;
                    }
                }

                &:hover {
                    border: 1px solid $whiteColor;

                    img {
                        transform: scale3d(0.95,0.95,1);
                        transition: 1s;
                        opacity: 0.85;
                    }
                }
            }
                
            .box-title-deal {
                text-align: center;
                padding: 40px 15px 25px;
                background: $whiteColor;

                .title-main {
                    font-size: 50px;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-family: 'Fjalla One', sans-serif;
                }

                .decsription {
                    padding: 15px 0 30px;
                }
    
                .btn-book-now {
                    padding: 20px 50px;
                    text-transform: uppercase;
                    font-weight: 700;
                }
            }
        }
    }
}