.find-trip-title {

    .title-main {
        font-size: $font-size-title-main;
        font-weight: 700;
        text-align: center;
        padding: 115px 0;
        text-transform: uppercase;
        font-family: 'Fjalla One', sans-serif;
    }
}

.find-trip-content {
    cursor: pointer;

    .find-trip-item {
        position: relative;
        padding: 0;
        .box-img-trip {
            width: 100%;
            height: 100%;
            overflow: hidden;
            padding: 0 1px 1px 0;

            img {
                width: 100%;
                height: 410px;
            }
        }

        .box-content-trip {
            position: absolute;
            bottom: 25%;
            left: 0;
            width: 100%;
            text-align: center;
            color: $white-color;
    
            .title-main {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 30px;
            }
    
            .sub-title {
                text-transform: capitalize;
                padding: 20px 0 40px;
            }
    
            .btn-more {
                text-transform: uppercase;
                padding: 15px 30px;
                font-weight: 700;
                font-size: 14px;
                opacity: 0;
                transition: 1s;
            }
        }

        &:hover {

            .box-img-trip {

                img {
                    transform: perspective(1000px) translate3d(0,0,100px);
                    transition: 1s;
                }
            }

            .box-content-trip {
                z-index: 99;
    
                .btn-more {
                    opacity: 1;
                    transition: 1s;
                }
            }
    
            .background-trip {
                background: $background-gray;
                width: 100%;
                position: absolute;
                z-index: 9;
                height: 100%;
                opacity: 0.5;
                top: 0;
                transition: 0.8s;
            }
        }
    }
} 