.news-area-container {

    .news-title-content {
        padding: 100px 0 65px;
    
        .deals-title-content {
            padding: 0 100px;
            text-align: center;

            .title-main-content {
                font-family: 'Fjalla One', sans-serif;
                font-size: $font-size-title-main;
                font-weight: $font-weight-bold;
                letter-spacing: 2px;
                text-align: center;
                color: $main-color;
                margin-bottom: 50px;
                text-transform: uppercase;
                background: linear-gradient(to right , $main-color 40%, $gray-dark-color 40%, $gray-color 20%, $blue-color 20%, $main-color 40%, $gray-dark-color 40% );
                background-size: 200% auto;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: shine 5s linear infinite;
            
                @keyframes shine {
                    to {
                            background-position: 200% center;
                    }
                }
            }
        }
    }
    
    .news-content {

        .news-item {

            .box-img-news {
                margin: 0;
                padding: 0;
                background: $white-color;
                overflow: hidden;
                position: relative;

                img {
                    width: 100%;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: -110%;
                    left: -210%;
                    width: 200%;
                    height: 200%;
                    opacity: 0;
                    transform: rotate(30deg);
                    
                    background: rgba(255, 255, 255, 0.13);
                    background: linear-gradient(
                      to right, 
                      rgba(255, 255, 255, 0.13) 0%,
                      rgba(255, 255, 255, 0.13) 77%,
                      rgba(255, 255, 255, 0.5) 92%,
                      rgba(255, 255, 255, 0.0) 100%
                    );

                }

                &:hover {
                    &::after {
                        opacity: 1;
                        top: -30%;
                        left: -30%;
                        transition-property: left, top, opacity;
                        transition-duration: 0.7s, 0.7s, 0.15s;
                        transition-timing-function: ease;
                    }
                }
            }
    
            .box-title-news {
                padding: 35px 15px 90px;
    
                .title-main {
                    font-size: 18px;
                    color: $blue-color;
                    font-family: 'Fjalla One', sans-serif;
                }
    
                .list-item {
                    display: flex;
                    justify-content: space-between;
                    padding: 30px 0;
    
                    .item {
                        font-size: 15px;
                        margin-right: 50px;
                        .icon-item {
                            font-size: $font-size-body;
                            margin-right: 10px;
                        }
                    }
                }
    
                .decsription {
                    font-size: 15px;
                }
            }
        }
    }
}
