<!doctype html>
<html lang="en">
<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
    "title": "Travel Tour"
  })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>
<body>
  <div class="wrapper">
    <!-- include header.html -->
    @@include('../layouts/header.html')

    <main class="main-container">
        <!-- include navbar.html -->
        @@include('../layouts/navbar.html')

        <!-- include banner-area.html -->
        @@include('../partials/banner-area.html')

        <!-- include tour-type-area.html -->
        @@include('../partials/tour-type-area.html')

        <!-- include deals-area.html -->
        @@include('../partials/deals-area.html')
        
        <!-- include find-trip-area.html -->
        @@include('../partials/find-trip-area.html')

        <!-- include news-area.html -->
        @@include('../partials/news-area.html')

         <!-- include bottom-banner.html -->
         @@include('../partials/bottom-banner.html')
    </main>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
  </div>

  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>
</html>