<section class="deals-area-container">
    <div class="container">
        <div class="deals-title row">
            <div class="deals-title-content col-12">
                <p>deals and discounts</p>
            </div>
        </div>
        <div class="deals-content row">
            <div class="deals-item col-12 col-md-12 col-lg-4">
                <div class="box-img-deal">
                    <div class="images-item">
                        <img src="images/deals-area/deal-item-1.png" alt="Deals Area">
                    </div>
                    <span class="box-price">
                        <span class="listed-price">$899</span><span class="deal-price">$499</span>
                    </span>
                </div>
                <div class="box-title-deal">
                    <p class="title-main">
                        surfing
                    </p>
                    <p class="decsription">
                        You can use these galleries to insert tables, headers, footers, lists, cover pages, and other
                        document building blocks.
                    </p>
                    <button class="btn btn-primary btn-book-now">
                        book now
                    </button>
                </div>

            </div>
            <div class="deals-item col-12 col-md-12 col-lg-4">
                <div class="box-img-deal">
                    <div class="images-item">
                        <img src="images/deals-area/deal-item-2.png" alt="Deals Area">
                    </div>
                    <span class="box-price">
                        <span class="listed-price">$899</span><span class="deal-price">$499</span>
                    </span>
                </div>
                <div class="box-title-deal">
                    <p class="title-main">
                        surfing
                    </p>
                    <p class="decsription">
                        You can use these galleries to insert tables, headers, footers, lists, cover pages, and other
                        document building blocks.
                    </p>
                    <button class="btn btn-primary btn-book-now">
                        book now
                    </button>
                </div>
            </div>
            <div class="deals-item col-12 col-md-12 col-lg-4">
                <div class="box-img-deal">
                    <div class="images-item">
                        <img src="images/deals-area/deal-item-3.png" alt="Deals Area">
                    </div>
                    <span class="box-price">
                        <span class="listed-price">$899</span><span class="deal-price">$499</span>
                    </span>
                </div>
                <div class="box-title-deal">
                    <p class="title-main">
                        surfing
                    </p>
                    <p class="decsription">
                        You can use these galleries to insert tables, headers, footers, lists, cover pages, and other
                        document building blocks.
                    </p>
                    <button class="btn btn-primary btn-book-now">
                        book now
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>