@media (min-width: 992px) {
    .navbar-expand-lg {
        .navbar-collapse {
            display: -ms-flexbox !important;
            display: flex !important;
            -ms-flex-preferred-size: auto;
            flex-basis: auto;
            display: -ms-flexbox !important;
            display: flex !important;
            -ms-flex-preferred-size: auto;
            flex-basis: auto;
            justify-content: flex-end;
            padding: 0 120px;
        }
    } 
}
