@media (max-width: 1024px) {
    .menu-container {
        background: $background-navbar;

        .navbar-menu {
            .logo-header {
                padding-left: 0;
            }

            .navbar-collapse {
                padding: 0 75px;
            }
        } 
    }

    .tour-type-area-container {

        .tour-type-title-content {

            .title-main{
                margin-bottom: 20px;
            }
        }

        .tour-type-content { 

            .tour-type-item {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 50px;

                .box-tour-type-content {
                    &::before {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 235px;
                        height: calc(100% - 30px);
                        border: 2px solid $white-color;
                        border-radius: 50%;
                        box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.2);
                        content: '';
                        opacity: 0;
                        -webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
                        transition: opacity 0.5s, transform 0.6s;
                        transform: translate(-50%, -50%);
        
                    }

                    &:hover {
                        &::before {
                            opacity: 1;
                        }
                    }
                }
            }
        }

       
    }

    .deals-area-container {

        .deals-content {

            .deals-item {
                margin-bottom: 20px;
            }
        }
    }

    .news-area-container {

        .news-content .news-item {

            .box-title-news {

                .list-item {

                    .item {
                        font-size: 15px;
                        margin-right: 10px;
                    }
                } 
            } 
        }
    } 
}
@media (max-width: 992px) {
    .header-container {

        .header {

            .header-top-content {

                .header-top-left {

                    .info-list {

                        .info-item {
                            margin-right: 20px;
                            padding: 10px 0;
                        }
                    }
                }
    
                .header-top-right {

                    .follow-list {

                        .follow-item {
                            margin-right: 20px;
                            padding: 5px 0;
                        }
                        
                        .search-item {
                            padding: 5px 20px;
                        }
                    }
                }
            }
        }
        
    }
    .menu-container {

        .navbar-menu {

            .nav-link {
                padding: 20px;
            }

            .navbar-collapse {
                padding: 0 10px;
            }
        } 

        .navbar-light {

            .navbar-toggler {
                color: $white-color;
                border-color: $white-color;
                background: $white-color;
            }
        }

        
    }
    .banner-area-container {

        .content-top-inner {
            padding: 250px 0 150px;
        }
        
        .search-tour-box {
            position: static;
            margin-bottom: 20px;

            .form-search-tour {
                width: auto;

                .header-form{

                    .title-form {
                        font-size: $font-size-title-main;
                    }
                } 
            } 
        }
    }
}


@media (max-width: 767px) {
    .header-top-left {
        display: none;
    }

    .banner-area-container {

        .search-tour-box {

            .form-search-tour {

                .header-form {

                    .title-form {
                        font-size: 38px;
    
                        p {
                            font-size: $font-size-dec;
                            padding: 15px 0 20px;
                        }
                    }
                } 
            } 
        }
        .content-top-inner {

            .content-top-title {
                font-size: 28px
            }

            .content-top-sub-title {
                font-size: $font-size-body;
            }
        }

        .content-bottom {

            p {
                padding: 50px 0;
                font-size: $font-size-dec;
            }
        }
    }

    .tour-type-area-container {

        .tour-type-title-content {
            padding: 75px 15px 50px;
            font-size: $font-size-dec;

            .title-main {
                font-size: 28px;
                margin-bottom: 20px;
            }
        }

        .tour-type-content {
            .tour-type-item {
                margin-bottom: 20px;
            }
            
            
        }
    } 

    .deals-area-container {

        .deals-title-content {

            p {
                font-size: 28px;
            }
        }
        .deals-content {

            .deals-item {

                .box-title-deal {

                    .title-main {
                        font-size: 28px;
                    }
        
                    .decsription {
                        font-size: $font-size-dec;
                    }

                    .btn-book-now {
                        padding: 15px 30px;
                        font-size: 13px;
                    }
                }
                
            }
        } 
        
    }

    .find-trip-container {

        .find-trip-title {

            .tour-type-title-content {

                .title-main {
                    font-size: 28px;
                    padding: 80px 0;
                }
            }
        }

        .find-trip-content  {

            .find-trip-item {

                .box-img-trip {
                    img {
                        height: auto;
                    }
                }
                .box-content-trip {
                    .title-main {
                        font-size: $font-size-body;
                    }
    
                    .sub-title {
                        font-size: $font-size-dec;
                        padding: 15px 0 25px;
                    }
                    .btn-more {
                        text-transform: uppercase;
                        padding: 10px 15px;
                        font-weight: 700;
                        font-size: 13px;
                    }
                } 
            }
           
        }
    }

    .news-area-container {

        .news-title-content {

            .deals-title-content {
                padding: 0 15px;

                .title-main-content {
                    font-size: 28px;
                }

                .title-decription{
                    font-size: $font-size-dec;
                }
            }
            
        }
        .news-content  {

            .news-item {

                .box-title-news {
                    padding: 20px 15px 40px;
    
                    .list-item {
                        padding: 15px 0;
                    }
                }
            }
            
        }
    }

    .bottom-banner-container {

        .bottom-banner-content {
            padding: 100px 0 80px;

            .tilte-main {
                font-size: 28px;
            }

            .sub-title {
                font-size: $font-size-dec;
            }

            .find-tour {
                padding: 35px 10px;
                font-size: 13px;
            }
        }
    }

    .footer-container {

        .footer-content {
            padding: 40px 15px 20px;

            .footer-item {
                margin-bottom: 40px;

                .title-main {
                    font-size: $font-size-body;
                    margin-bottom: 20px;
                }
            }
        }
        .footer-bottom {

            .footer-bottom-content {
                padding: 10px 15px;
            }
        }
        
    } 
}