<div class="banner-area-container">
  <div class="content-top container">
    <div class="row">
      <div class="content-top-inner col-12 col-sm-12 col-md-12 col-lg-6">
        <p class="content-top-title">where journey begins.</p>
        <p class="content-top-sub-title">Discover your next great adventure, become an explorer to get
          started!</p>
      </div>
      <div class="search-tour-box col-12 col-sm-12 col-md-12 col-lg-6">
        <div class="col-12 form-search-tour">
          <div class="header-form">
            <h3 class="title-form">
              search tours
            </h3>
            <p>Find your dream tour today!</p>
          </div>
          <div class="form-content">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search Tour" name="search-tour">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
              </div>
            </div>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Destination" name="destination">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-plane" aria-hidden="true"></i></span>
              </div>
            </div>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Tour Type" name="=tour-type">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-bed" aria-hidden="true"></i></span>
              </div>
            </div>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Month" name="month">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
              </div>
            </div>
            <button type="button" class="btn btn-primary btn-block">Find Tour</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-bottom">
    <div class="container">
      <div class="row">
        <div class="content-bottom-inner col-12 col-md-12 col-lg-6">
          <p>When you create pictures, charts, or diagrams, they also coordinate with your current document
            look.</p>
        </div>
      </div>
    </div>
  </div>
</div>