<section class="find-trip-container">
    <div class="container-fluid">
        <div class="find-trip-title row">
            <div class="tour-type-title-content col-12">
                <p class="title-main">find a tour by beautiful trips</p>
            </div>
        </div>
        <div class="find-trip-content row">
            <div class="find-trip-item col-12 col-md-6 col-lg-4">
                <div class="box-img-trip">
                    <img src="images/find-trip-area/trip-1.png" alt="Trip">
                </div>
                <div class="box-content-trip">
                    <p class="title-main">promotional trip</p>
                    <p class="sub-title">orlando, Air/3 Nights</p>
                    <button class="btn btn-primary btn-more">known more</button>
                </div>
                <div class="background-trip"></div>
            </div>
            <div class="find-trip-item find-trip-item__custom col-12 col-md-6 col-lg-4">
                <div class="box-img-trip">
                    <img src="images/find-trip-area/trip-2.png" alt="Trip">
                </div>
                <div class="box-content-trip">
                    <p class="title-main">promotional trip</p>
                    <p class="sub-title">orlando, Air/3 Nights</p>
                    <button class="btn btn-primary btn-more">known more</button>
                </div>
                <div class="background-trip"></div>
            </div>
            <div class="find-trip-item col-12 col-md-6 col-lg-4">
                <div class="box-img-trip">
                    <img src="images/find-trip-area/trip-3.png" alt="Trip">
                </div>
                <div class="box-content-trip">
                    <p class="title-main">promotional trip</p>
                    <p class="sub-title">orlando, Air/3 Nights</p>
                    <button class="btn btn-primary btn-more">known more</button>
                </div>
                <div class="background-trip"></div>
            </div>
            <div class="find-trip-item col-12 col-md-6 col-lg-4">
                <div class="box-img-trip">
                    <img src="images/find-trip-area/trip-4.png" alt="Trip">
                </div>
                <div class="box-content-trip">
                    <p class="title-main">promotional trip</p>
                    <p class="sub-title">orlando, Air/3 Nights</p>
                    <button class="btn btn-primary btn-more">known more</button>
                </div>
                <div class="background-trip"></div>
            </div>
            <div class="find-trip-item find-trip-item__custom col-12 col-md-6 col-lg-4">
                <div class="box-img-trip">
                    <img src="images/find-trip-area/trip-5.png" alt="Trip">
                </div>
                <div class="box-content-trip">
                    <p class="title-main">promotional trip</p>
                    <p class="sub-title">orlando, Air/3 Nights</p>
                    <button class="btn btn-primary btn-more">known more</button>
                </div>
                <div class="background-trip"></div>
            </div>
            <div class="find-trip-item col-12 col-md-6 col-lg-4">
                <div class="box-img-trip">
                    <img src="images/find-trip-area/trip-6.png" alt="Trip">
                </div>
                <div class="box-content-trip">
                    <p class="title-main">promotional trip</p>
                    <p class="sub-title">orlando, Air/3 Nights</p>
                    <button class="btn btn-primary btn-more">known more</button>
                </div>
                <div class="background-trip"></div>
            </div>
        </div>
    </div>
</section>