<footer class="footer-container">
  <div class="footer-content container">
    <div class="row">
      <div class="footer-item col-12 col-md-6 col-lg-3">
        <p class="title-main">
          findfinder llc
        </p>
        <ul class="list-info">
          <li class="item-info">
            1400 Pennsylvania Ave. Washington, DC
          </li>
          <li class="item-info">
            P: 24/7 customer support: 1-555-555-5555
          </li>
          <li class="item-info">
            E: info@tripfinder.com
          </li>
        </ul>
      </div>
      <div class="footer-item col-12 col-md-6 col-lg-3">
        <p class="title-main">
          support
        </p>
        <ul class="list-support">
          <li class="item-support">
            Faq
          </li>
          <li class="item-support">
            Payment options
          </li>
          <li class="item-support">
            Booking tips
          </li>
        </ul>
      </div>
      <div class="footer-item col-12 col-md-6 col-lg-3">
        <p class="title-main">
          follow us
        </p>
        <ul class="list-follow">
          <li class="item-follow">
            <span><i class="fa fa-facebook" aria-hidden="true"></i></span>
          </li>
          <li class="item-follow">
            <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
          </li>
          <li class="item-follow">
            <span><i class="fa fa-instagram" aria-hidden="true"></i></span>
          </li>
          <li class="item-follow">
            <span><i class="fa fa-youtube" aria-hidden="true"></i></span>
          </li>
        </ul>
      </div>
      <div class="footer-item col-12 col-md-6 col-lg-3">
        <p class="title-main">
          newsletter
        </p>
        <div class="newsletter-content">
          <input type="text" class="form-control input-send-email" placeholder="Enter Email">
          <button class="btn btn-primary btn-submit" type="button">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom-content row">
        <div class="footer-bottom-left">
          <p>&copy; PSDfreebies.com 2015. All rights reserved.</p>
        </div>
        <div class="footer-bottom-right">
          <p>Design by: <img src="images/footer/icon-design-by.png" alt="desing by"> PSDFreebies.com</p>
        </div>
      </div>
    </div>
  </div>
</footer>