<header class="header-container">
  <div class="header">
    <div class="header-top-content">
      <div class="header-top container">
        <div class="row">
          <div class="col-12">
            <div class="header-top-left pull-left">
              <ul class="info-list">
                <li class="info-item">
                  <span>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                  </span>
                  <span>+1 420-000-600</span>
                </li>
                <li class="info-item">
                  <span>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                  </span>
                  <span>hello@website.com</span>
                </li>
                <li class="info-item">
                  <span>
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                  </span>
                  <span>6am - 11pm</span>
                </li>

              </ul>
            </div>
            <div class="header-top-right pull-right">
              <ul class="follow-list">
                <li class="follow-item">
                  <span><i class="fa fa-facebook" aria-hidden="true"></i></span>
                </li>
                <li class="follow-item">
                  <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
                </li>
                <li class="follow-item">
                  <span><i class="fa fa-instagram" aria-hidden="true"></i></span>
                </li>
                <li class="follow-item">
                  <span><i class="fa fa-youtube" aria-hidden="true"></i></span>
                </li>
                <li class="follow-item">
                  <span><i class="fa fa-whatsapp" aria-hidden="true"></i></span>
                </li>
                <li class="search-item">
                  <span><i class="fa fa-search" aria-hidden="true"></i></span>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
