<section class="menu-container sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light navbar-menu">
        <a class="navbar-brand logo-header" href="#"><img src="images/header/logo-header.png" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav menu-header">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Blog</a>
                <a class="nav-item nav-link" href="#">Gallery</a>
                <a class="nav-item nav-link" href="#">Activities</a>
                <a class="nav-item nav-link" href="#">Deals</a>
                <a class="nav-item nav-link" href="#">Contact</a>
            </div>
        </div>
    </nav>
</section>