<!-- build:css(.) style/vendor.min.css -->
<link rel="stylesheet" type="text/css" media="screen" href="node_modules/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" media="screen" href="node_modules/font-awesome/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Basic|Coda|Fjalla+One|Open+Sans|Oswald|Voltaire" rel="stylesheet">
<!-- endbuild -->
<!-- build:css(.tmp) style/style.min.css -->
<link rel="stylesheet" type="text/css" media="screen" href="styles/main.css" />
<!-- endbuild -->