<section class="tour-type-area-container">
    <div class="container">
        <div class="tour-type-title row">
            <div class="tour-type-title-content">
                <p class="title-main">find a tour by tour type</p>
                <p>You can also format text directly by using the other controls on the Home tab. Most controls offer a
                    choice of using the look from the current theme or using a format that you specify directly.</p>
            </div>
        </div>
        <div class="tour-type-content row">
            <div class="tour-type-item col-12 col-md-6 col-lg-6 col-xl-3">
                <p class="title-tour-type">
                    north ameria
                </p>
                <img src="images/tour-type/tour-type-1.png" alt="Tour Type 1">
            </div>
            <div class="tour-type-item col-12 col-md-6 col-lg-6 col-xl-3">
                <p class="title-tour-type">
                    north ameria
                </p>
                <img src="images/tour-type/tour-type-2.png" alt="Tour Type 2">
            </div>
            <div class="tour-type-item col-12 col-md-6 col-lg-6 col-xl-3">
                <p class="title-tour-type">
                    north ameria
                </p>
                <img src="images/tour-type/tour-type-3.png" alt="Tour Type 3">
            </div>
            <div class="tour-type-item col-12 col-md-6 col-lg-6 col-xl-3">
                <p class="title-tour-type">
                    north ameria
                </p>
                <img src="images/tour-type/tour-type-4.png" alt="Tour Type 4">
            </div>
        </div>
    </div>
</section>