@font-face {
    font-family: 'BigNoodleTitling';
    src:url(‘../fonts/big_noodle_titling.ttf’) format(‘truetype’),
    url(‘../fonts/big_noodle_titling.eot#iefix’) format(’embedded-opentype’),
    url(‘../fonts/big_noodle_titling.woff’) format(‘woff’);
    font-weight:normal;
    font-style:normal;
}