$mainColor: #606060;
$whiteColor: #ffffff;
$blueColor: #47a0ff;
$grayColor: #c0c0c0;
$borderGrayDark: #333333;
$borderGray: #d0d0d0;
$backgroundGray: #000000;
$backgroundNavBar: #151a22;
$backgroundInput: #f2f2f2;
$backgroundBlue: #62aeff;