$main-color: #606060;
$white-color: #ffffff;
$blue-color: #47a0ff;
$gray-color: #c0c0c0;
$border-gray-dark: #333333;
$border-gray: #d0d0d0;
$background-gray: #000000;
$background-blue: #62aeff;
$background-navbar: #151a22;
$background-input: #f2f2f2;
$font-weight-bold: 700;
$font-size-body: 20px;
$font-size-title-main: 50px;
$font-size-dec: 16px;